body, html {
  height: 100%;
  margin: 0;
}
.bg-image{
  background-image: url('../images/1918.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 .pserror {
      border-color: red;
      display: none;
 }