#displayimage{
	display: block;
	width: 30%;
	margin: 10px auto;
	border-radius: 50%;
}
.sideimage{
	 width: 100px;
     border-radius: 50%;
}
ul{
	height:300px;
	overflow:hidden;
    overflow-y:scroll;
    list-style-type: none;
    background-color: white;
	}
	::-webkit-scrollbar {
  width: 1px;
}
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}
.onlineimg{
	 width: 50px;
     border-radius: 50%;
}
#content{
	display: none;
}
ul.users{
height: 200px;
}